body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#banner {
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

#main-content {
    display: flex;
    flex: 1;
    margin-top: 60px; /* Ajusta el margen superior para dar espacio al banner */
}

#left-panel {
    width: 300px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    height: calc(100vh - 60px); /* Ajusta la altura para tener en cuenta el banner */
    overflow-y: auto;
}

#form-section, #table-section {
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

#map-section {
    flex: 1;
    height: calc(100vh - 60px); /* Ajusta la altura para tener en cuenta el banner */
    border: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#map {
    height: 100%;
}

header {
    display: none; /* Se ocultara el header original */
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input[type="datetime-local"] {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
